@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

body {
    font-size: 33px;

    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: whitesmoke;
    color: #333;
    line-height: 1.5;
    padding: 0;

    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }

}




@keyframes zoomBlur {
    0% {
        transform: scale(1);
        opacity: 1;

    }

    50% {
        transform: scale(1.2);

    }

    100% {
        transform: scale(0.8);
        opacity: 0;

    }
}

/* sliders photos with animation */
.logo-slider {
    overflow: hidden;
    padding: 30px 0 0 0;
    white-space: nowrap;
    position: relative;
    margin-top: -5rem;
    cursor: pointer;

}

.logo-slider:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
}

.logos-slide .slide {
    display: inline-block;
}

.logos-slide img {

    max-width: 250px;
    max-height: fit-content;
    margin: 5px 0;
}

.slide h2 {
    font-size: 16px;
    text-align: left;

    font-style: normal;
    margin: 5px 0;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


/* Slider 2 */
.logo-sliderr {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -9rem;
    cursor: pointer;

}

.logo-sliderr:hover .logos-slides {
    animation-play-state: paused;
}

.logos-slides {
    display: inline-block;
    animation: 15s slides infinite linear;
}

.logos-slides .slides {
    display: inline-block;
}

.logos-slides img {

    max-width: 250px;
    max-height: fit-content;
    margin: 5px 0;
}

.slides h2 {
    font-size: 16px;
    text-align: left;
    font-family: 'Arial';
    font-style: normal;
    margin: 5px 0;
}

@keyframes slides {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0);
    }
}



a {
    text-decoration: none;
    color: white;
}



@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}



section {
    background: #F4F4F4;
    padding: 50px 0;
}

.container {
    max-width: 3000px;
    margin: 0;
    padding: 0 50px;
}

.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;

    >input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;

        &:nth-of-type(13):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -1200%;
        }

        &:nth-of-type(12):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -1100%;
        }

        &:nth-of-type(11):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -1000%;
        }

        &:nth-of-type(10):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -900%;
        }

        &:nth-of-type(9):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -800%;
        }

        &:nth-of-type(8):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -700%;
        }

        &:nth-of-type(7):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -600%;
        }

        &:nth-of-type(6):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -500%;
        }

        &:nth-of-type(5):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -400%;
        }

        &:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -300%;
        }

        &:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -200%;
        }

        &:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: -100%;
        }

        &:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
            margin-left: 0%;
        }

        &:nth-of-type(1):checked~.carousel__thumbnails li:nth-of-type(1) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(2):checked~.carousel__thumbnails li:nth-of-type(2) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(3):checked~.carousel__thumbnails li:nth-of-type(3) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(4):checked~.carousel__thumbnails li:nth-of-type(4) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(5):checked~.carousel__thumbnails li:nth-of-type(5) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(6):checked~.carousel__thumbnails li:nth-of-type(6) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(7):checked~.carousel__thumbnails li:nth-of-type(7) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(8):checked~.carousel__thumbnails li:nth-of-type(8) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(9):checked~.carousel__thumbnails li:nth-of-type(9) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(10):checked~.carousel__thumbnails li:nth-of-type(10) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(11):checked~.carousel__thumbnails li:nth-of-type(11) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(12):checked~.carousel__thumbnails li:nth-of-type(12) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }

        &:nth-of-type(13):checked~.carousel__thumbnails li:nth-of-type(13) {
            box-shadow: 0px 0px 0px 5px #14656e;
        }
    }
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;

    figure {
        display: flex;
        margin: 0;
    }

    div {
        @include aspect-ratio(3, 2);
        width: 100%;
    }

    img {
        display: block;
        flex: 1 1 auto;
        object-fit: cover;
    }

    figcaption {
        align-self: flex-end;
        padding: 20px 20px 0 20px;
        flex: 0 0 auto;
        width: 25%;
        min-width: 150px;
    }

    .credit {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        display: block;
    }

    &.scrollable {
        overflow-y: scroll;
    }
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    margin: 0 -10px;

    .carousel__slides+& {
        margin-top: 20px;
    }

    li {
        flex: 1 1 auto;
        max-width: calc((100% / 6) - 20px);
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }

    label {
        display: block;
        @include aspect-ratio(1, 1);


        &:hover,
        &:focus {
            cursor: pointer;

            img {
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
                transition: all 300ms ease-in-out;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title {
    font-size: small;
    margin-top: 50px;
    text-align: center;
}